@import "/src/component/Navbar/Navbar.css";
@import "/src/component/Category/Category.css";
@import "/src/component/Home/Home.css";
@import "/src/component/Searchfield/Searchfield.css";
@import "/src/component/Pages/About/About.css";
@import "/src/component/Pages/Contact/Contact.css";
@import "/src/component/Pages/Decks/Decks.css";
@import "/src/component/Pages/Features/Features.css";
@import "/src/component/Pages/Login/Login.css";
@import "/src/component/Footer/Footer.css";
@import "/src/component/Pages/Sign/Sign.css";




body{
    margin: 0;
    background-color: #fefefe;
    font-family: "Roboto", sans-serif
}


