.ImpressumWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Impressum{
    margin-left: 20px;

}
.Impressum p {
    margin-right: 40%;
}

#googleMaps{
    margin-left: 30px;
    margin-bottom: 10%;
    box-shadow: 20px 10px 20px grey;
}
