h1{
    color: #2980B9;
    text-align: center;
}
h2{
    color: #2980B9;
}
.ChangeDecksWrapper{
    margin-bottom: 160px;
}
.CreateDeckTitle{
    text-align: center;
    margin: 0 25%;
}
.CreateDeckTitle p{
    font-size: 18px;
}

.CreateDeckInput{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;

    margin-top: 50px;
    
}

.DeckWrapper {
    grid-column: 2;
   
}
.DecksContent p, .CardsContent p, .ShowCards p{
    font-size: 20px;
    margin: 0;
}
.ShowCards p {
    margin-bottom: 50px;
}
.DecksContent input, .CardsContent textarea{
    border-style: none;
    border-radius: 5px;
    border: 1px #2980B9 solid;
    padding: 10px 10px 10px 10px;
    width: 100%;
}
.DecksContent > h1 {
    margin-top: 0;
    margin-bottom: 50px;
    color: #2980B9;
}
#deckDesc{
    margin-top: 10px;
    margin-bottom: 10px
}
#cardA{
    margin: 10px 0;
}
#cardA, #cardQ{
    padding-bottom: 50px;
}

.CardsShown{
    display: inline-grid;
    
    text-align: left;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;

    background-color: #2980B9;
    color: #fefefe;
    box-shadow: 10px 10px 10px grey;

    width: 15%;
    
}
.CardsShown h4{
    margin: 0;
    padding-left: 10px;
    padding-right: 20px;

}
#cardsAnswer{
    margin-bottom: 10px;
}
#deleteBtn{
    margin: 0;

    text-align: right;
    padding-right: 5px;
    
    color:#fefefe;

    background-color: #E74C3C;
    border-radius: 10px 10px 0 0;  
    cursor: pointer; 

}

.ShownDecksWrapper{
    margin-bottom: 100px;
}
.ShownDecks{
    display: inline-grid;
    grid-gap: 0.5em;
    text-align: left;

    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    align-items: left;

    width: 10%;
    padding-bottom: 10px;


    background-color: #2980B9;
    color: #fefefe;
    box-shadow: 10px 10px 10px grey;
    
}

.ShownDecks h4{
    margin: 0;
    padding-left: 10px;
    padding-right: 20px;

}


#decksHr{
    margin: 10px 0;
    
    width: 100%;
}
#cardsBtn, #decksBtn{
    border-style: none;
    outline-style: none;
    padding: 10px;
    border-radius: 5px;
    color: #fefefe;
    background-color: #2980B9;
}
#decksBtn{
margin-top: 20px;
}
#cardsBtn:hover, #decksBtn:hover{
    background-color: #3498DB;
    padding: 13px;
    transition-duration: 250ms; 
}
#cardsBtn:active, #decksBtn:active{
    color: #3498DB;
}
#cardsBtn{
    margin-right: 30px;
}
#deleteBtn:hover{
    background-color: #C0392B;
    transition-duration: 250ms;

}


#viewBtn, #selectBtn{
    padding: 7px 15px 7px 15px;
    margin-top: 10px;
    margin-left: 30%;
    border-style: none;
    outline-style: none;
    border-radius: 5px;

    background-color: #fefefe; 
    color: #2980B9;
    font-weight: bold;
    cursor: pointer;


}
#viewBtn{
    margin-left: 10%;
    margin-right: 10px;
}

#viewBtn:hover, #selectBtn:hover{
    background-color: #3498DB;
    color: #fefefe;
    transition-duration: 250ms;
}

#deckname, #description, #category{
    margin: 0;
    text-align: left;
    margin-left: 10px;
}

#yourDeckTitle{
    margin-top: 50px;
    margin-bottom: 20px; 
    text-align: left;
}