.contactWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contactWrapper div {
    grid-column: 2;
    text-align: center;
}
.contactTitle{
    padding-top: 100px;
}
.contactTitle h1{
    font-size: 40px;
    color: #2980B9;
    margin-bottom: 0;
}
.contactTitle p{
    font-size: 20px;
    margin-bottom: 50px;

}

.contactInput input, #messageBox{
    border-style: none;
    border-radius: 10px;
    border: 1.5px #2980B9 solid;

    padding-top: 10px;
    padding-bottom: 10px;

    outline-style: none;
}
.contactInput div {
    margin: 0.5em;
    
}

#personalBox{
    padding-left: 6px;
    padding-right: 6px;
    margin: 0.5em;
}
#subjectBox{
    padding-left: 10px;
    padding-right: 200px;

}

div .sendButton {
    text-align: right;
    margin-right: 17%;
    
}
#sendBtn{
    font-size: 16px;
    border-style: none;
    border-radius: 10px;
    border: 1.5px  solid;
    
    
    padding: 10px 50px;
    margin-bottom: 100px;
    background-color: #2ECC71;
    color: #fefefe;

    font-weight: bold;
    outline-style: none;
    cursor: pointer;
}
#messageBox{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

#sendBtn:hover{
    background-color: #27AE60;
    box-shadow: 5px 5px 5px grey;

    transition-duration: 250ms;
}

