.Navitem{
    margin: 0 0 0 40%;
}

.Nlnavitem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-auto-rows: minmax(50px, auto);
    align-items: center;
    text-align: center;

}

 .Nlnavitem a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #fefefe;
    font-size: 25px;
    
    
}
.Navbar{
    background-color: #2980B9;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;

}
 .Nlnavitem > li {
    list-style: none;
    display: inline-block;
    
    position: relative;
}
 ul > li > a::before{
    content: "";
    align-content: center;
    background-color: #fefefe;
    width:0px;
    display: block;
    border-radius: 3px;
    height: 10px;
    position: absolute;
}
ul >  li > a:hover::before{
    transition-duration: 200ms;
    width: 100%;
    top: 49px;

}