.Login{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-content: center;
    grid-auto-rows: minmax(100px, auto);
    height: 800px;

}
.Lback{
    display: grid;
    grid-column: 2;
    text-align: center;
    height: 400px;

    background-color: #2980B9;
    width: 100%;
    border-radius: 20px;

    box-shadow: 0px 0px 15px -3px rgba(0,0,0,1);
}
.Lbtn{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    height: 0;
    top: 50%;
    position: relative;
}
#Signbtn, #Loginbtn{
    border-style: none;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    width: 80%;
    font-size: 20px;
    background-color: #fefefe;
}
#Loginbtn{
    margin-left: 20% ;
    
}
#Signbtn{
    margin-right: 20%;
}

.Linput{
    margin-top: 40px;
}
.Linput > input{
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    padding: 10px;
}

#Pid, #Kid{
    margin-top: 10px;
}
.Linput > button {
    border-radius: 10px;
    border-style: none;
    background-color: #fefefe;
    color: #2980B9;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    width: 34%;
}

.Linput > button:hover{

    color: #fefefe;
    background-color: #3498DB;
    transition-duration: 300ms;
}

#Signbtn.active{
    background-color: #3498DB;
    color:#fefefe;
}

#Lid:focus{
    border: 2px solid #3498DB;
}


